Projekt1/.idea/.name
Projekt1/.idea/compiler.xml
Projekt1/.idea/copyright/profiles_settings.xml
Projekt1/.idea/encodings.xml
Projekt1/.idea/gradle.xml
Projekt1/.idea/libraries/ComAndroidSupportAppcompatV71900_aar.xml
Projekt1/.idea/libraries/support_v4_19_0_0.xml
Projekt1/.idea/misc.xml
Projekt1/.idea/modules.xml
Projekt1/.idea/scopes/scope_settings.xml
Projekt1/.idea/vcs.xml
HelloOpenGLES20/.idea/vcs.xml
HelloOpenGLES20/.idea/workspace.xml
HelloOpenGLES20/gen/com/example/android/opengl/BuildConfig.java
HelloOpenGLES20/gen/com/example/android/opengl/Manifest.java
HelloOpenGLES20/gen/com/example/android/opengl/R.java
HelloOpenGLES20/out/production/HelloOpenGLES20/HelloOpenGLES20.apk
HelloOpenGLES20/out/production/HelloOpenGLES20/HelloOpenGLES20.unaligned.apk
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/BuildConfig.class
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/MyGLRenderer.class
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/MyGLSurfaceView.class
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/OpenGLES20Activity.class
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/Piramid.class
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/R$attr.class
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/R$drawable.class
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/R$layout.class
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/R$string.class
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/R.class
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/Square.class
HelloOpenGLES20/out/production/HelloOpenGLES20/com/example/android/opengl/Triangle.class
HelloOpenGLES20/project.properties
HelloOpenGLES20/.idea/.name
HelloOpenGLES20/.idea/compiler.xml
HelloOpenGLES20/.idea/copyright/profiles_settings.xml
HelloOpenGLES20/.idea/encodings.xml
HelloOpenGLES20/.idea/misc.xml
HelloOpenGLES20/.idea/modules.xml
HelloOpenGLES20/.idea/scopes/scope_settings.xml
HelloOpenGLES20/HelloOpenGLES20.iml
