Projekt1/.idea/.name
Projekt1/.idea/compiler.xml
Projekt1/.idea/copyright/profiles_settings.xml
Projekt1/.idea/encodings.xml
Projekt1/.idea/gradle.xml
Projekt1/.idea/libraries/ComAndroidSupportAppcompatV71900_aar.xml
Projekt1/.idea/libraries/support_v4_19_0_0.xml
Projekt1/.idea/misc.xml
Projekt1/.idea/modules.xml
Projekt1/.idea/scopes/scope_settings.xml
Projekt1/.idea/vcs.xml
